
.about{
    background-color: white;
    flex-direction: row;
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    height: 70%;
    margin: 0 auto; 
    

}


.about_wrapper{
    position: relative;
    margin: 50px 0 45px;

}
.box{
    padding-top: 20px;
    border: 2px solid black;


}
.box2{
    margin-top: 20px;
    padding-top: 20px;
    border: 2px solid black;

}

.sbax{
    flex-direction: row;

}

.vision{
    margin-top: 20px;
    padding-top: 20px;
    border: 2px solid black;

}

.mission{
    margin-top: 20px;
    padding-top: 20px;
    border: 2px solid black;
}

